// ------Главная кнопка-----
.button {
  height: 50px;
  min-width: 200px;
  padding: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: $white-text-color;

  background-color: $active-bg-button-color;
  border-color: transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $bg-hero-button-color;
  }
  &__plane-icon {
    margin-left: 10px;
    fill: $white-text-color;
  }
}
// ------Кнопка фильтра-----
.button-filter {
  padding: 6px 22px;
  border-radius: 4px;
  border-width: 0;
  border-color: transparent;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: inherit;
  background-color: $bg-section-color;
  color: $secondary-text-color;

  transition-property: background-color, box-shadow, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;

  &:hover,
  &:focus {
    cursor: pointer;

    background-color: $active-bg-button-color;
    color: $white-text-color;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
// ------Кнопка зкарытия модального окна-----
.button-close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0%;

  height: 30px;
  width: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  fill: #000000;
  background-color: inherit;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    cursor: pointer;
    fill: $accent-text-color;
  }
}
