.section {
  padding-top: 94px;
  padding-bottom: 94px;
  color: $primary-text-color;

  &--secondary {
    background-color: $bg-section-color;
  }
  &__title {
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;

    font-size: 36px;
    line-height: 1.17;
    color: $secondary-text-color;
  }
}
